*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden;  */
    font-family: 'Inter', sans-serif;

   
}

 ul li   {
     list-style: none;

 }
 a {
    text-decoration: none;
    color: white;

 }

 #list {
     color: white;
 }

 /* main page */

 .home-page {
    display: flex;
   flex-direction: row;
    grid-gap: 1rem;
    height: 100vh;
    color: white;

}

aside {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    text-align: center;


}

aside .reload {
background-color: #ED48BA;
height: 40px;
width: 40px;
align-self: center;
text-align: center;
border-radius: 50%;
margin-top: 1rem;

}

aside .reload i {
    text-align: center;
    align-self: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    
}

 aside .sm-icon {
    display: flex;
    flex-direction: column;

} 

aside .sm-icon i {
    margin-bottom: 0.3rem;
    color:#0392bf;
}

 .p-1 {padding: 1rem 0;}


/* main body */

 .whole-page {
     display: flex;
     flex-direction: column;
     background: #0392bf;
 }

 /* nav */

 nav {
     display: flex;
     justify-content: space-between;
     margin-right: 4rem;
 }
 nav ul {
     display: flex;
     padding: 2rem;
 }
 

 nav ul li a {
     margin: 1rem;
 }

 .content{
     display: grid;
     grid-template-columns: 40% 60%;
     grid-gap: 1rem;
     margin: 0 1rem;
     padding: 1rem;
 }

 .body {
    background: url(./skate.png) center center/cover;
    /* height: 300px; */


}
 

   .body> h3 {
     position: relative;
     margin-top: 250px;
     margin-left: 100px;
     font-size: 2.5rem;
     text-shadow: 4px 4px 8px #000;
     font-family: 'Inter', sans-serif;
     font-weight: 500;
     color: #B3D4E0;


 }  

  .body> h3 span {
    position: absolute;
     left:40px
 } 



 .top-flex {
     display: flex;
     padding: 1rem 0;
 }

 .top-flex .star {
  margin-left: 1rem;
 }

 .star > i {
    font-size: 0.8rem;
    color: #FBEC06;
 }

 .stra {
     color: #FBEC06;
 }

 .text-content {
     text-align: left;
     line-height: 1.5;
     font-size: 1rem;
    
 }

 .color-picker {
     display: flex;
 }

 .color-picker button {
     margin: 0 .5rem;
     width: 20px;
     height: 20px;
     border: 2px solid white;
     border-radius: 50%;
     transition: all 0.6s ease-in-out;
 }
.color-picker button:focus {
    outline: none;
}

 .color-picker button:active {
     /* outline: none; */
     border: 2px solid black;
 }
 .blue {
     background-color: #0392bf;
 }
 .pink {
background: #ED48BA;
 }
 .yellow {
    background: #FBEC06;
 }
 .white {
    background: #B3D4E0;
 }


 #final-btn {
     background: #ed48ba;
     padding: .4rem .8rem;
     margin: 1rem;
     border: none;
 }

/* media querries */

@media (max-width: 770px) {
    .body> h3 {
        position: relative;
        margin-left: -10px;

        font-size: 2.5rem;
        text-shadow: 4px 4px 8px #000;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        color: #B3D4E0;
   
   
    }   
}

@media (max-width: 500px){

    *{
        margin: 0;
        padding: 0;
    }

    body {
        background: #ccc;
        max-width: 500px;
    }

    .home-page {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    aside {
        display: none;
    }


    .whole-page {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex; 
        flex-direction: column; 
     justify-content: left; 
        margin-right: 0;
        color: white;
        height: 100%;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #000;
    }
    nav>ul {
        display: flex;
        color: white;
    }
    
   
    nav ul li a {
        margin-right: 0.3rem;
        color: white;
    }

    .list-2 {
        padding: 0 2rem;
        text-align: center;
        justify-self: center;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
    }
    .body {
        margin-top: -150px;
        margin-left: -100px;
        height: 400px;
        
    }

 .body> h3 {
        position: relative;
        margin-left: 100px;
        font-size: 2.5rem;
        text-shadow: 4px 4px 8px #000;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        color: #B3D4E0;
   
   
    }   

    .top-flex .star {
        margin-left: 0.3rem;
       }


    .top-flex i {
           font-size: 0.6rem;
           color: #FBEC06;
       }
      
    .text-content {
           text-align: left;
           line-height: 1.5;
           font-size: 0.8rem;
          
       }

}





























